---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import TitleSection from '../components/TitleSection.astro';
import ShortBlogPost from '../components/ShortBlogPost.astro';

const pageTitle = "Home page";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<style>
.listShortPost {
    padding: 0px;
    list-style: none;
    margin: 0px;
}
</style>

<BaseLayout pageTitle={pageTitle}>
  <p class="about">Hi, I'm Loïc. Webdesigner since 2016, i like all kind of art and especially Digital Art. I really love bouldering with friends, mostly for the fresh cold beer after the session. I just discover that i love writing.</p>
  <TitleSection title={"Latest projects"} />
  <TitleSection title={"My thougts"} />
  <ul class="listShortPost">
      {allPosts.map((post: any, index) => index < 3 && <ShortBlogPost url={post.url} title={post.frontmatter.title} date={post.frontmatter.pubDate} category={post.frontmatter.category} />)}
  </ul>
</BaseLayout>